//utf-8
.containter {
    height: 100%;
    position: relative;
    //padding-top: 53px;
    overflow: hidden;

    &.containter-have-title {
        padding-top: 73px;
    }
    .page-header {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        background: #fff;
        box-shadow: 0 0 3px 1px #eee;
    }
    .content{
        height: 100%;
        padding:10px;
        overflow: auto;
        position: relative;
    }
    .no-roll{
        overflow: hidden;
    }

    .content-search{
        padding:20px;
        margin-bottom:10px;
        background: #fff;
        overflow: hidden;
    }

    .content-details {
        padding:20px;
        padding-bottom: 0;
        background: #fff;
    }
  }
// flex
.flex {
  display: flex;
}
.j-c {
  justify-content: center;
}
.nowrap{
  white-space: nowrap;
}
.j-e {
  justify-content:flex-end;
}
.j-s {
  justify-content:space-around;
}
.j-ey {
  justify-content:space-evenly;
}
.j-b {
  justify-content:space-between;
}
.a-c {
  align-items: center;
}
.a-e {
  align-items: flex-end;
}
.d-c {
  flex-direction: column;
}
.wrap {
  flex-wrap:wrap;
}
.nwrap {
  flex-wrap:nowrap;
}
.nowrap {
  white-space: nowrap;
}
.hand {
cursor:pointer
}
.blue {
color: #1890FF;
}
.opacity-4{
  opacity: 0.4;
}
.overflow-two {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
// 兼容全局苹果电脑自动隐藏滚动条问题
::-webkit-scrollbar{
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  border-radius: 1em;
  background-color: rgba(50,50,50,.3);
}
// 加价购图标样式
.addPriceShopp{
  width: 36px;
  height: 14px;
  background: #E78613;
  border-radius: 2px;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 14px;
  padding: 0 3px;
}
// ::-webkit-scrollbar-track{
  // border-radius: 1em;
  // background-color: rgba(245, 10, 10, 1);
// }
.multiple-wrapper{
  position: relative;
  width: 100%;
}
.multiple-count-wrapper{
  position: absolute;
  top: 1px;
  right: 20px;
  height: 30px;
  padding: 0 20px;
  background: #fff;
  display: flex;
  align-items: center;
}
.multiple-count{
    height: 24px;
    background: #FFF;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #bfa;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
}